<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyVueJS</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ name }} -- {{ birthYear }} => {{ old ? age + 'Sudah tua' : age + ' Masih muda' }} 
        <br>
        {{ message }} 
        <!-- {{{ raw }}} --> <!-- Fail -->
    </div>

    <br>
    <div id="app-2">
        <span v-bind:title="pesan">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <br>
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <br>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
    </div>

    <br>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <br>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: 'Eko',
                message: 'Hello Vue!',
                birthYear: 1990,
                // old: false,
                raw: '<p>This is <b>RAW</b></p>'
            },
            computed: {
                age: function() {
                    return 2020 - this.birthYear;
                },
                old: function() { 
                    return this.age < 30 ? false : true;
                }
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                pesan: 'You loaded this page on ' + new Date().toLocaleString()
            }
        })
        
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })
        // app3.seen = false

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
                ]
            }
        })
        // app4.todos.push({ text: 'New item' })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</body>
</html>